
<footer id="footer">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-4">
                                <div class="footer-col">
                                    <a href="#" class="footer-link logo">Spotify</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="footer-col">
                                    <h3>Quick Links</h3>
                                    <ul>
                                    	{% if user.is_authenticated %}
                                        <li>
                                            <a href="{% url 'account-index' %}" class="footer-link">
                                                Account
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'home-logout' %}" class="footer-link">
                                                Log Out
                                            </a>
                                        </li>

										{% else %}

                                        <li>
                                            <a href="{% url 'home-signup' %}" class="footer-link">
                                                Sign Up
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'home-login' %}" class="footer-link">
                                                Log In
                                            </a>
                                        </li>

										{% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="footer-col">
                                    <h3>Player</h3>
                                    <ul>
                                        <li>
                                            <a href="{% url 'player-index' %}" class="footer-link">
                                                Web Player
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="footer-link">
                                                Terms & Conditions
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="footer-col">
                            <h3>Social Links</h3>
                            <ul class="footer-social">
                                <li class="footer-social-list">
                                    <a href="#" class="footer-social-link">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="footer-social-list">
                                    <a href="#" class="footer-social-link">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="footer-social-list">
                                    <a href="#" class="footer-social-link">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>