    <div id="root">
        <div class="flexWrapper">
            <header id="header">
                <nav class="nav-main">
                    <a href="{% url 'home-index' %}" class="nav-brand">Spotify</a>
                    <ul>
                        <li class="nav-item">
                            <a href="{% url 'player-index-id' sid=song.id %}" class="nav-link active">
                                <i class="fas fa-home"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'player-search' sid=song.id %}" class="nav-link">
                                <i class="fas fa-search"></i>
                                Search
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'player-library' sid=song.id %}" class="nav-link">
                                <i class="fas fa-align-right"></i>
                                Library
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="plNames-main">
                    <p>Playlist</p>
                    <a href="{% url 'player-favorites' sid=song.id %}" id="createPL">
                        <i class="fas fa-plus-circle"></i>
                        Favorites
                    </a>

                </div>
                <a href="{% url 'account-index' %}" class="userName">
                    <i class="far fa-user"></i>
                    {{user.name}}
                </a>
            </header>