
{% extends "frontendTemplates/layouts/frame-account.html" %}

{% block title %} Spotify Clone | Account Edit Profile {% endblock %}

{% block main-content %}



<div class="col-9">
    <div class="section-content">
        <h3>Edit Profile</h3>

{% if messages %}
<div class="alert alert-danger" role="alert">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


        <form action="{% url 'account-update' %}" id="editForm" class="form-account form" method="post">

        	{% csrf_token %}

            <div class="form-group">
                <label for="inputState__">Account Name</label>
                <div class="form-input-bg">
                    <input type="text" name="name" class="form-control" id="inputEmail4" value="{{usr.name}}">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail4">Email</label>
                <div class="form-input-bg">
                    <input type="email" name="email" class="form-control" id="inputEmail4" value="{{usr.email}}">
                </div>
            </div>

            <div class="form-group">
                <label for="inputState__">Gender</label>
                <div class="form-input-bg">
                        <select id="gender" class="form-control" name="gender">
                                <option>-- Select --</option>
                                <option value="Male" {% if usr.usr_gender == "Male" %} selected {% endif %} >Male</option>
                                <option value="Female" {% if usr.usr_gender == "Female" %} selected {% endif %} >Female</option>
                                <option value="Not Listed" {% if usr.usr_gender == "Not Listed" %} selected {% endif %} >Not Listed</option>
                            </select>
                    <!-- <input type="text" name="gender" class="form-control" id="inputEmail4" value="{{usr.usr_gender}}"> -->
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword4">Mobile</label>
                <div class="form-input-bg">
                    <input type="text" name="mobile" class="form-control" id="inputPassword4" value="{{usr.usr_phone}}">
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="button">Update</button>

                <button type="button" onclick="location.href = '{% url 'account-index' %}'" class="button">Dismiss</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}