    	<nav id="sidebar">
            <div class="sidebar-header">
                <a href="{% url 'dashboard' %}"><h3>Spotify Dashboard</h3></a>
            </div>

            <ul class="list-unstyled components">
                <p>Welcome Admin&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a></p>
                <li>
                    <a href="#genreSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-heartbeat" aria-hidden="true"></i> Genre</a>
                    <ul class="collapse list-unstyled" id="genreSubmenu">
                        <li>
                            <a href="{% url 'genre-add' %}">Add Genre</a>
                        </li>
                        <li>
                            <a href="{% url 'genre-index' %}">View Genre</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#moodsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-headphones" aria-hidden="true"></i> Moods</a>
                    <ul class="collapse list-unstyled" id="moodsSubmenu">
                        <li>
                            <a href="{% url 'mood-add' %}">Add New Mood</a>
                        </li>
                        <li>
                            <a href="{% url 'mood-index' %}">View Moods</a>
                        </li>
                    </ul>
				</li>

				<li>
                    <a href="#artistSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-user-ninja"></i> Artists</a>
                    <ul class="collapse list-unstyled" id="artistSubmenu">
                        <li>
                            <a href="{% url 'artist-add' %}">Add New Artist</a>
                        </li>
                        <li>
                            <a href="{% url 'artist-index' %}">View Artists</a>
                        </li>
                    </ul>
				</li>
				
				<li>
                    <a href="#songsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-music"></i> Songs</a>
                    <ul class="collapse list-unstyled" id="songsSubmenu">
                        <li>
                            <a href="{% url 'song-add' %}">Add New Songs</a>
                        </li>
                        <li>
                            <a href="{% url 'song-index' %}">View Songs</a>
                        </li>
                    </ul>
				</li>
				
				<li>
                    <a href="#usersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-user"></i> Users</a>
                    <ul class="collapse list-unstyled" id="usersSubmenu">
                        <li>
                            <a href="{% url 'user-index' %}">View Users</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#playlistSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-list-ul"></i>&nbsp;&nbsp;Favorites</a>
                    <ul class="collapse list-unstyled" id="playlistSubmenu">
                        <li>
                            <a href="{% url 'favorite-index' %}">View Favorites</a>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="#homepageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-home"></i>&nbsp;&nbsp;Homepage</a>
                    <ul class="collapse list-unstyled" id="homepageSubmenu">
                        <li>
                            <a href="{% url 'homepage-index' %}">Manage Homepage</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" onclick="triggerModal();"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a>
                </li>
            </ul>

        </nav>