{% extends "adminTemplates/layouts/layout-dashboard.html" %}

{% block title %} Admin Dashboard | Favorites Index {% endblock %}

{% block main-section %}

{% if messages %}
<div class="alert alert-danger" role="alert">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="main-section">
							<h2 class="content-heading">Favorite List</h2>
                        

                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                <th scope="col">SL No</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Song Name</th>
                                <th scope="col">Artist Name</th>
                                <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for row in data %}

                                <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ row.user.username }}</td>
                                <td>{{ row.song.song_name }}</td>
                                <td>{{ row.song.artist_name }}</td>
                                <td>
                                    <a href="{% url 'song-details' id=row.song_id %}"><span class="badge badge-info">Song Details...</span></a>
                                </td>
                                </tr>

							{% endfor %}

                            </tbody>
                            </table>

							

						</div>
					</div>
				</div>
			</div>


{% endblock %}