{% extends "adminTemplates/layouts/layout-dashboard.html" %}

{% block title %} Admin Dashboard | Home {% endblock %}

{% block main-section %}

{% if messages %}
<div class="alert alert-danger" role="alert">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% load static %}
<div class="container">

<div class="row">
    <div class="col-12 text-center">
        <div class="main-section">
            <h2 class="content-heading">Admin Dashboard</h2>

            <div class="row">
                
                <div class="col-4 text-center">

                    <a href="{% url 'song-index' %}">

                        <div class="card" style="width: 18rem;">
                          <img src='{% static "./adminAssets/images/card1.png" %}' class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text">Manage songs directly from here!</p>
                          </div>
                        </div>

                    </a>

                </div>
                <div class="col-4 text-center">

                    <a href="{% url 'homepage-index' %}">

                        <div class="card" style="width: 18rem;">
                          <img src='{% static "./adminAssets/images/card2.png" %}' class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text">Manage Homepage directly from here!</p>
                          </div>
                        </div>

                    </a>

                </div>
                <div class="col-4 text-center">

                    <a href="{% url 'user-index' %}">

                        <div class="card" style="width: 18rem;">
                          <img src='{% static "./adminAssets/images/card3.png" %}' class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text">Manage User-Favorites directly from here!</p>
                          </div>
                        </div>

                    </a>


                </div>

            </div>

        

            

        </div>
    </div>
</div>
</div>


{% endblock %}